{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- base styles -->
    <link rel="stylesheet" href="{% static 'css/alocation/reset.css' %}">

    <!-- scripts -->
    <script src="{% static 'js/alocation/main.js' %}" type="module" defer></script>

    {% block head_content %}
        <title>Alocation</title>
        
        <!-- ..... -->
    {% endblock %}
</head>
<body>
    <main>
        
        {% include 'alocation/includes/header.html' %}
    
        {% block body_content %}
            <!-- ..... -->
        {% endblock %}
    </main>

</body>
</html>