.body-container {
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
    gap: 30px;
}
.body-content {
    flex: 1;
    overflow-x: scroll;
}
.sidebar {
    /* background-color: var(--lightGray); */
    box-shadow: var(--boxShadow--bottom);
    padding: 10px;
    width: 20%;
    max-width: 250px;
}
nav {
    margin-bottom: 2rem;
}
nav ul a {
    text-decoration: none;
}
nav ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
nav ul li.selected a {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-color: var(--accentBlue);
    text-decoration-thickness: 0.5px;
    color: var(--accentBlue);
}
.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.heading h3 {
    margin: 0;
}
.heading a {
    padding: 2px 0 2px 5px;
    background-color: var(--accentBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
}
.heading a span {
    color: var(--white);
    font-size: var(--min);
}
.search-form form {
    display: flex;
    align-items: flex-end;
}
.search-form {
    width: 40vw;
    max-width: 350px;
}
.search-form input[type="text"]:focus {
    border-color: var(--accentBlue);
}
.search-form input[type="text"] {
    border: none;
    outline: none;
    border-bottom: 1.8px solid var(--gray);
    padding: 5px 0;
    /* max-width: 350px; */
    width: 100%;
}

/* table */
table {
    width: 100%;
}
.list-table::-webkit-scrollbar {
    display: none;
}
.list-table {
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.list-table table {
    border-spacing: 0;
    margin-bottom: 2rem;
}
.list-table table * {
    font-weight: 400;
}
.list-table td,
.list-table tr,
.list-table th {
    padding: 10px 10px;
    white-space: nowrap;
    position: relative;
}
.list-table th svg {
    width: 20px;
    display: none;
}
.list-table th.sort svg {
    display: inline-block;
}
.list-table th.sort.asc svg {
    transform: rotate(180deg);
}
.list-table th {
    cursor: pointer;
}
.list-table th:hover {
    background-color: var(--tooLightGray); /* for dark: var(--blackDark) */
}
.list-table th span {
    font-weight: 500;
}
.list-table tbody tr:hover {
    background-color: var(--tooLightGray); /* for dark: var(--blackDark) */
}
.list-table tbody tr td {
    border-bottom: 1px solid var(--lightGray); /* for dark: var(--blackDark)*/
    font-size: var(--min);
}
.list-table thead {
    /* background-color: var(--lightGray); */
    text-align: left;
}

/* --- action bar  */
.action-bar {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.action-bar a {
    background-color: var(--gray);
    display: inline-block;
    width: 23px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.action-bar > div:last-child {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.action-bar span svg {
    margin-right: 5px;
}
.action-bar span {
    display: flex;
    /* background-color: blueviolet; */
    justify-content: center;
    align-items: center;
    padding: 0 5px;
}
.table-filter {
    position: relative;
}
.filter-btn {
    border: 1px solid var(--gray);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter-options.active {
    display: inline-block;
}
.filter-options ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.filter-options li label {
    white-space: nowrap;
}
.filter-options ul li {
    display: flex;
    gap: 5px;
    align-items: center;
}
.filter-options li input {
    cursor: pointer;
    display: inline-block;
}
.filter-options {
    display: none;
    position: absolute;
    right: 10px;
    top: 30px;
    z-index: 10000;
    background-color: var(--white);
    /* border: 1px solid var(--gray); */
    padding: 10px;
    box-shadow: var(--boxShadow--bottom);
}
.filter-options input[type="submit"] {
    background-color: var(--lightGray);
    cursor: pointer;
    font-weight: 400;
    margin-top: 20px;
}
table tbody tr {
    position: relative;
}
td.details-link {
    /* position: relative; */
    position: absolute;
    /* background-color: rgba(0, 255, 255, 0.322); */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
td.details-link a {
    /* background-color: rgba(255, 166, 0, 0.322); */
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

/* --- pagination */
.pagination {
    margin-bottom: 2rem;
}
.pagination .step-links {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    align-items: center;
}
.pagination .prev,
.pagination .next {
    display: flex;
    gap: 5px;
}
.pagination .prev {
    order: 2;
}
.pagination .next {
    order: 1;
}
.pagination a {
    /* background-color: var(--accentBlue); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 24px; */
    /* height: 24px; */
}
.pagination .prev.active a,
.pagination .next.active a {
    background-color: var(--accentBlue);
}
.pagination .prev.disable a,
.pagination .next.disable a {
    background-color: var(--gray);
}
