
.model-form {
    margin: auto;
    max-width: 670px;
}
.model-form > p {
    margin-bottom: 2rem;
}
.fields {
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column;
    /* background-color: bisque; */
}
.fields p {
    width: 100%;
}
.fields p>span {
    display: block;
    margin-bottom: 1rem;
    font-size: var(--min);
}
.fields div {
    /* background-color: red; */
    display: flex;
    width: 100%;
    gap: 20px;

}
.fields input::placeholder {
    color: var(--gray);
}
.fields input {
    width: 100%;
    outline: none;
    padding: 5px;
    border: none;
    border-bottom: 1px solid var(--gray);
    margin-bottom: 1rem;
}
.fields input:focus {
    border-bottom-color: var(--accentBlue);
    color: var(--accentBlue);
}
.fields input:focus::placeholder {
    color: var(--accentBlue);
}