{% extends "alocation/generic-page.html" %}
{% load static %}

{% block head_content %}
    <title>Alocation/Locaux</title>
    <link rel="stylesheet" href="{% static 'css/renter/renter-list-style.css' %}">

{% endblock %}

{% block body_content %}

    <nav>
        <ul>
            <li><a href="{% url 'renter:renters-list' %}">Locataires</a></li>
            <li><a href="{% url 'local:locals-list' %}">Locaux</a></li>
        </ul>
    </nav>

    <div class="search-form">
        <form method="GET">
            <input type="text" name="search-query" value="{% if search_query %}{{search_query}}{% endif %}" placeholder="étiquette, locataire actuel, adresse">
            <input type="submit" value="RECHERCHE">
        </form>
    </div>

    <div class="renter-list-table">
        <table>
            <thead>
                <tr>
                    <th>Etiquette</th>
                    <th>Adresse</th>
                    <th>Locataire actuel</th>
                    <th>Prix (FCFA)</th>
                </tr>
            </thead>
            <tbody>
                {% for local in page_obj %}
    
                    <tr>
                        <td> {{ local.tag_name }} </td>
                        <td> {{ local.address }} </td>
                        <td> {{ local.current_tenant.fullname }} </td>
                        <td> {{ local.rent_price }} </td>
                    </tr>
    
                {% endfor  %}
                
            </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; premier</a>
                    <a href="?page={{ page_obj.previous_page_number }}">arrière</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">suivant</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">dernier &raquo;</a>
                {% endif %}
            </span>
        </div> 
    </div>
    

{% endblock %}
