{% extends 'alocation/generic-page.html' %}
{% load static %}

{% block head_content %}
    <title>ALocation | renter/edit</title>

    <link rel="stylesheet" href="{% static 'css/local/model-form.css' %}">
{% endblock %}

{% block body_content %}
    <div class="model-form">
        <h3>Modifier un locataire</h3>
        <p>Veuillez renseigner le formulaire avec les informations du locataire</p>

        <div>
            <form method="POST">
                {% csrf_token %}
                <div class="fields">
                    <div>
                        <p>{{ form.first_name }}</p>
                        <p>{{ form.last_name }}</p>
                    </div>
                    <div>
                        <p>{{ form.email }}</p>
                        <p>{{ form.phone }}</p>
                    </div>
                    <div>
                        <p>{{ form.address }}</p>
                        <p>{{ form.address_2 }}</p>
                    </div>
            
                    <br>
                    <p><span>Au cas où ce locataire louerait déjà un ou plusieurs locaux, vous pourrez les lui assigner directement  avec le champ en dessous.</span>
                        {{ form.assigned_locals }}</p>
                </div>
    
                <input type="submit" value="Enrégistrer" class="blue">
            </form>
        </div>
    </div>
{% endblock %}

